/* * {
  outline: red dashed 1px;
} */
nav li {
  transition: 0.5s;
}
nav li:hover {
  background-color: rgb(179, 175, 175);
  border-radius: 2px;
  border: 2px solid rgb(80, 79, 79);
}

nav .search {
  height: 40px;
  width: 80;
  border-radius: 60px;
  outline: none;
  margin-right: -35px;
  font-family: "Rubik", sans-serif;
  border: 2px solid rgba(240, 8, 82, 0.027);
}
nav .btn0 {
  height: 40px;
  width: 80px;
  outline: none;
  border: none;
  background: rgb(240, 26, 92);
  color: white;
  border-radius: 60px;
  font-weight: 700;
}
footer {
  background: url(images/welding1.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  margin-top: 20px;
}
.cntus i:hover {
  color: aqua;
}
.btn1 {
  height: 50px;
  width: 150px;
  border: none;
  outline: none;
  background-color: rgb(240, 26, 92);
  color: white;
  font-weight: 700;
  border-radius: 60px;
  transition: 0.5s;
}
.btn1:hover {
  background-color: rgb(228, 216, 220);
  border: solid 2px rgb(240, 26, 92);
  color: black;
}
footer a {
  text-decoration: none;
  color: inherit;
}
